.header{
  margin: 20px 100px;
  text-align: center;
}

.header .input_text{
  font-size: 16px;
  border: slategray 1px solid;
  border-radius: 3px;
  width: 400px;
}

.header .add_btn{
  font-size: 16px;
  background: slategray;
  color: snow;
  border-radius: 3px;
}

.main nav{
  text-align: center;
}

.main nav a{
  margin: 0 20px;
}

.main nav a:hover{
  cursor: pointer;
}

.main nav a.active{
  background-color: slategray;
  color: snow;
}

.main ul li:hover{
  cursor: pointer;
}

.main ul li{
  text-align: center;
  width: 600px;
  list-style: none;
  margin-bottom: 5px;
  line-height: 2em;
  border: slategray 1px solid;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.main ul li.finished{
  text-decoration-line: line-through;
  background-color: rgba(112,128,144,0.8);
}

#inform{
  text-align: center;
  color: red;
  font-size: 10px;
}